@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans text-base;
  }
}

@layer components {
  .movie-info {
    @apply body-m flex items-center gap-2 uppercase  opacity-90;
  }
  .h-custom {
    height: calc(100dvh - 100px);
  }
  .w-custom {
    width: calc(100% - 100px);
  }
}
